body {
    background-color: rgb(216, 91, 206);
    color :  #000000 ;
    text-align: center;
    font-family :'Merriweather Sans' , sans-serif;
}

h1 {
    text-align: center;
    color :  #3b0128 ;
    font-family: 'Lucida Sans','Merriweather Sans', sans-serif;
}

h2 {
    color :  #3a002d ;
    tamaño de fuente : 2.5 rem ;
    familia de fuentes :'Montserrat' , sans-serif;
    font-weight : normal;
    fondo acolchado :  10px ;
}

h3 {
    color :  # 11999E ;
    familia de fuentes :  'Montserrat' , sans-serif;
}

p {
    altura de línea :  2 ;
}

hr {
    borde : punteado # EAF6F6  6 px ;
    borde inferior : ninguno;
    ancho :  4 % ;
    margen :  100 px automático;
}

un {
    color :  # 11999E ;
    familia de fuentes :  'Montserrat' , sans-serif;
    margen :  10 px  20 px ;
    decoración de texto : ninguna;
}

a : hover {
    color :  # EAF6F6 ;
}

. contenedorSuperior {
    color de fondo :  # E4F9F5 ;
    posición : relativa;
    padding-top :  100 px ;
}

. contenedorMedio {
    margen :  100 px  0 ;
}

. contenedorInferior {
    color de fondo :  # 66BFBF ;
    relleno :  50 px  0  20 px ;
}

. filaHabilidades {
    ancho :  50 % ;
    margen :  100 px automático 100 px automático;
    alineación de texto : izquierda;
}

. pro {
    decoración de texto : subrayado;
}

. intro {
    ancho :  30 % ;
    margen : automático;
}

. mensajeContacto {
    ancho :  40 % ;
    margen :  40 px automático 60 px ;
}

. copyright {
    color :  # EAF6F6 ;
    tamaño de fuente :  0,75 rem ;
    relleno :  20 px  0 ;
}

. nubeSuperior {
    posición : absoluta;
    derecha :  300 px ;
    superior :  40 px ;
}

. nubeInferior {
    posición : absoluta;
    izquierda :  250 px ;
    abajo :  300 px
}

. codigoImg {
    ancho :  25 % ;
    flotar : izquierda;
    margen :  30 px ;
}

. controlImg {
    ancho :  25 % ;
    flotar : derecha;
    margen :  30 px ;
}

. btn {
    fondo :  # 11CDD4 ;
    imagen de fondo :  -webkit-linear-gradient (arriba ,  # 11CDD4 ,  # 11999E );
    imagen de fondo :  -moz-linear-gradient (arriba ,  # 11CDD4 ,  # 11999E );
    imagen de fondo :  -ms-linear-gradient (arriba ,  # 11CDD4 ,  # 11999E );
    imagen de fondo :  -o-linear-gradient (arriba ,  # 11CDD4 ,  # 11999E );
    imagen de fondo :  -webkit-gradient (hacia abajo ,  # 11CDD4 ,  # 11999E );
    -Kit-web-borde-radio :  50 px ;
    -moz-border-radius :  50 px ;
    radio del borde :  50 px ;
    color :  # FFFFFF ;
    familia de fuentes :  'Montserrat' , sans-serif;
    tamaño de fuente :  20 px ;
    peso de fuente :  100 ;
    relleno :  20 px ;
    decoración de texto : ninguna;
    pantalla : bloque en línea;
    cursor : puntero;
    alineación de texto : centro;
    margen inferior :  40 px ;
 }
 
. btn : hover {
    borde : sólido # 337FED  0 ;
    fondo :  # 30E3DE ;
    imagen de fondo :  -webkit-linear-gradient (arriba ,  # 30E3DE ,  # 2DC4AD );
    imagen de fondo :  -moz-linear-gradient (arriba ,  # 30E3DE ,  # 2DC4AD );
    imagen de fondo :  -ms-linear-gradient (arriba ,  # 30E3DE ,  # 2DC4AD );
    imagen de fondo :  -o-linear-gradient (arriba ,  # 30E3DE ,  # 2DC4AD );
    imagen de fondo :  -webkit-gradient (hacia abajo ,  # 30E3DE ,  # 2DC4AD );
    -Kit-web-borde-radio :  50 px ;
    -moz-border-radius :  50 px ;
    radio del borde :  50 px ;
    decoración de texto : ninguna;
 }